<div class="wrap">
		        <div id="icon-themes" class="icon32"></div>  
		        <h2>Plugin Name Settings</h2>  
		         <!--NEED THE settings_errors below so that the errors/success messages are shown after submission - wasn't working once we started using add_menu_page and stopped using add_options_page so needed this-->
				{{ settings_errors() }} 
		        <form method="POST" action="options.php">  
		            {{ settings_fields( 'ctx_products_options' ) }}
		            {{ do_settings_sections( 'ctx_products_options' ) }} 
		                    
		            {{ function("submit_button") }}
		        </form> 
</div>